@font-face {
  font-family: "poppins";
  src: url("/fonts/Poppins/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: light;
}

@font-face {
  font-family: "poppins";
  src: url("/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "poppins";
  src: url("/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 500;
  font-style: bold;
}

@font-face {
  font-family: "neue-machina";
  src: url("/fonts/PPNeueMachina/PPNeueMachina-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/SpaceGrotesk/SpaceGrotesk-VariableFont_wght.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova";
  src: url("/fonts/ProximaNova/ProximaNova-Light.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "poppins", sans-serif;
}

.text-heading {
  font-family: "neue-machina", sans-serif;
}

.font-space {
  font-family: "Space Grotesk", sans-serif !important;
}

.font-nova {
  font-family: "ProximaNova", sans-serif !important;
}

.text-dark-green {
  color: #14f195;
}

.icons-color:hover {
  filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(200%) contrast(102%);
}

.bg-dark-green {
  background-color: #162421;
}

.border-custom-full {
  border: 1px solid #B5CFCC2B;
}

.border-custom {
  border-top: 1px solid #B5CFCC2B;
  border-left: 1px solid #B5CFCC2B;
}

.modal .ReactModal__Overlay--after-open {
  background: rgba(0, 0, 0, 0.8) !important;
}

.modal .ReactModal__Content--after-open {
  background: #0D0D0D !important;
  border: 1px solid #B5CFCC2B !important;
  width: 550px;
  border-radius: 1rem !important;
  padding: 0 !important;
  margin: auto;
  max-height: 850px;
}


.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 300ms;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}


/*Toast styles */
:root {
  --toastify-color-light: black;
  --toastify-color-dark: #121212;
  --toastify-color-info: #3498db;
  --toastify-color-success: #07bc0c;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: #e74c3c;
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);

  --toastify-toast-width: 320px;

  --toastify-spinner-color: #09dcc1;
  --toastify-spinner-color-empty-area: #09dcc1;
}

div .Toast-Notification { 
  background: #23262b;
  color: white;
  font-weight: 200;
  font-family: "poppins", sans-serif;
  font-size: .9rem;
}