@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply bg-brand-black text-white bg-no-repeat;
    background-image: url(/images/bg-top.svg);
    background: #000;
  }

  .c {
    @apply m-auto max-w-6xl px-4;
    max-width: 1280px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .pane {
    background: radial-gradient(77.84% 175.1% at 107.53% -71.6%,
        #00221d 0%,
        #111111 100%);
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.07);

    overflow-x: hidden;

    @apply rounded-2xl;
  }
}